* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.none {
    display: none !important;
}

/*.video {*/
/*    overflow: auto;*/
/*    height: 100%;*/
/*}*/

/*HEADER*/


.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

.header-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.header-title {
    margin: 0 0 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;

    text-align: center;
    color: #936524;
}

.header-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.2em;
    color: #936524;
}

.header-arrow {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.header-arrow-down {
    width: 60px;
    height: 60px;
}

/*PORTFOLIO*/


.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0 0 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: black;
}

.portfolio-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    max-width: 540px;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
}

.card-link {
    padding: 20px;
    display: block;
    color: black;
    text-decoration: none;
}

.card-link:hover {
    color: rgba(39, 91, 236);
    transition: color 0.6s;
}

.card:last-child,
.card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
    width: 100%;
}

.card-img:hover {
    transform: scale(1.08);
    transition: transform 0.8s;
}

.card-title {
    margin: 0 0 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/*FOOTER*/


.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: #144279;
    color: #6890C8;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    max-width: 350px;
    flex-grow: 1;

}

.footer-copyright {
    color: #6890C8;
    line-height: 1.3;
}

.footer-copyright-name {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

.img-hover:hover {
    background-color: white;
    transition: all 0.7s ease-in;
}

.footer-icons-row {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #aebedc;
    border-radius: 50px;

    color: #FFFFFF;
    line-height: 44px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

.footer-button:hover {
    background-color: #779ee3;
    color: #fdfafa;
}

.footer-contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #6890C8;
}

/*PROJECT*/


.project {
    padding: 80px 0 120px 0;
    text-align: center;
}

.project-header {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
}

.project-img {
    margin-bottom: 70px;
}

.project-description {
    margin: 0 auto 60px;
    max-width: 730px;
}

.project-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.project-btn-back {
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #8bbee3;
    border-radius: 50px;

    color: #44a1e0;
    line-height: 54px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

.project-btn-back:hover {
    background-color: #44a1e0;
    color: #FFFFFF;
}

.project-slider {
    background-color: #fddca5;
}

.project-grid {
    background-color: #a0ccee;
}

.project-bootstrap {
    background-color: #6f7172;
}

.project-movie {
    background-color: #e3d7d7;
}